/* Seat map css */

.seatChart-container {
    display: inline-block;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.seatChart-container * {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.seatChart-title {
    margin: 0;
    padding: 10px 0 0;
}

.seatChart-title img {
    float: left;
    display: block;

    /* ie and edge require height to be set and width to be auto set, not the opposite */
    height: 20px;
    width: auto;
    margin: 0;
    padding: 0;
}

.seatChart-title h3 {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0 0 0 10px;
}

.seatChart-small-title {
    margin: 0;
    padding: 15px 0 0;
}

.seatChart-seat {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    color: white;
    border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    height: 40px;
    width: 40px;
    margin: 3px;
    line-height: 40px;
    float: left;
    text-align: center;
    vertical-align: middle;
}

.seatChart-front {
    color: #787878;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 40px;
    line-height: 40px;
    margin: 4px;
    float: left;
    text-align: center;
    vertical-align: middle;
    background-color: #f3f3f3;
}

.seatChart-seat.index {
    background-color: transparent;
    color: #4b4949;
}

.seatChart-sc-delete img {
    height: 15px;
    width: 15px;

    /* makes img stay centered */
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.seatChart-seat.blank {
    background-color: transparent;
    color: transparent;
}

.seatChart-seat.blank img {
    height: 15px;
    width: auto;

    /* centers image */
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.seatChart-seat.available {
    cursor: pointer;
    background-color: #80c2d1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.seatChart-seat.available:hover {
    background-color: #a0d3de;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
}

.seatChart-seat.unavailable {
    background-color: rgb(210, 210, 210);
    cursor: not-allowed;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03), 0 1px 2px rgba(0, 0, 0, 0.06);
}

.seatChart-seat.clicked {
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(160, 106, 106, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
}

/* Seat legend css */

.seatChart-legend-list {
    list-style-type: none;
    margin: 0;
    padding: 0 0 15px;
}

.seatChart-legend-item {
    margin: 0;
    padding: 15px 0 0;
    vertical-align: middle;
    line-height: 24px;
}

.seatChart-legend-description {
    display: inline-block;
    margin: 0 0 0 10px;
}

.seatChart-seat.legend-style {
    cursor: default;
    float: left;
    width: 23px;
    height: 23px;
    margin: 0;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    pointer-events: none;
}

/* Shopping cart css */

.seatChart-sc-items-container {
    margin: 15px 0 0;
    padding: 0;
    border: 1px solid #f3f3f3;
    overflow-y: auto;
    overflow-x: hidden;
}

.seatChart-sc-item {
    border-bottom: 1px solid #afafaf;
    width: 200px;
    height: 30px;
    margin: 0 1px 0 0;
    padding: 6px 0 0;
}

.seatChart-sc-delete {
    cursor: pointer;

    /* makes img stay centered */
    position: relative;
    background-color: #db2c2c;

    /* makes it stay at the right of the container */
    margin: auto 10px auto auto;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.seatChart-sc-delete.all {
    margin: 15px 0 0;
    padding: 0;
    width: 60px;
}

.seatChart-sc-delete.all img {
    right: auto;
    left: auto;
    padding-left: 5px;
    float: left;
}

.seatChart-sc-delete.all p {
    color: white;
    text-align: center;
    line-height: 25px;
    padding: 0;
    margin: 0 0 0 20px;
}

.seatChart-sc-delete:hover {
    background-color: #db4646;
}

.seatChart-sc-total {
    margin: 0;
    padding: 0;
    float: right;
    display: block;
    line-height: 25px;
}

.seatChart-sc-description {
    float: left;
    display: block;
    margin: auto;
    padding: 0 10px;
    font-size: 14px;
    line-height: 25px;
}
