/* OVERRIDE DOCUMENTATION COLORS */

a,
a:active {
    color: #008080;
}

nav > h2 > a {
    color: #008080 !important;
}

nav > ul > li > a {
    color: #008080;
}

h4.name {
    background: #008080;
}

nav a:hover,
nav a:active {
    color: #008080;
}

span.param-type,
.params td .param-type,
.param-type dd {
    color: #008080;
}

h4.name a {
    color: #0ff;
}

h4.name a:hover {
    border-bottom-color: #0ff;
}

.signature {
    color: #0ff;
}

/* INDEX STYLE */

.example {
    display: inline-block;
}

.right {
    float: left;
}

.containers {
    float: left;
    clear: right;
    margin: 0 20px 0 20px;
}

#main {
    min-height: calc(100% - 47px);
}

#demo {
    margin: 40px 0 20px;
}

#mapContainer {
    margin-bottom: 20px;
}

#shoppingCartContainer {
    margin-left: 20px;
}
